<!-- <div class="container" style="padding-left: 20px; padding-top: 20px;"> -->
  <h2 class="title">
    Create New Precinct
  </h2>

  <div class="column">
    <div class="row" style="width:500px">
      <input [(ngModel)]="Precinct.Name" class="input is-primary" type="text" placeholder="New Pricinct Name" >
    </div>

    <br>

    <div class="row" style="width:500px">

      <input [(ngModel)]="Precinct.Address" class="input is-primary" type="text" placeholder="New Pricinct Address" >
    </div>
    <br>
<!--     <div class="row" style="width:500px">

      <a class="button is-primary" (click)="Submit()">Submit</a>
    </div> -->

    <app-actor [isEmbedded]="true" (ResultActor)="Submit($event)"></app-actor>
  </div>
<!-- </div> -->
