<!-- alt="Placeholder image" -->
<!-- <div *ngFor="let item of evidence"> -->
	<br>
	<div class="card">
	  <div class="card-content">
	    <div class="media">
	      <div class="media-left">
	        <figure class="image is-48x48">
	          <img src="item.img">

	        </figure>
	      </div>
	      <div class="media-content">
	        <p class="title is-4">{{item.Title}}</p>
	        <!-- <p class="subtitle is-6">item.Description</p> -->
	      </div>
	    </div>

	    <div class="content">
	      {{item.Description}}
	      <time datetime="2016-1-1">{{item.Actions[0].When}}</time>
	    </div>
	  </div>
	</div>
	<br>
<!-- </div> -->