<!-- alt="Placeholder image" -->
<a class="button" href="/newEvidence">
  Add new Evidence
</a>
<div *ngFor="let evidence of list">
	<br>
	<div class="card" (click)="Open(evidence)">
	  <div class="card-content">
	    <div class="media">
	      <div class="media-left">
	        <figure class="image is-48x48">
	          <img src="{{evidence.Image}}">

	        </figure>
	      </div>
	      <div class="media-content">
	        <p class="title is-4">{{evidence.Title}}</p>
	        <p class="subtitle is-6">{{evidence.Actions[0].Who}}</p>
	      </div>
	    </div>

	    <div class="content">
	      {{evidence.What}}
	      <br>
	      <!-- {{evidence.Actions[0].When}} -->
	      <!-- <time></time> -->
	    </div>
	  </div>
	</div>
	<br>
</div>