<!-- alt="Placeholder image" -->
<div *ngFor="let evidence of list">
	<br>
	<!-- (click)="" -->
	<div class="card" >
	  <div class="card-content">
	    <div class="media">
	      <div class="media-left">
	        <figure class="image is-48x48">
	          <img src="{{evidence.img}}">

	        </figure>
	      </div>
	      <div class="media-content">
	        <p class="title is-4">{{evidence.Title}}</p>
	        <p class="subtitle is-6">{{evidence.Actions[0].Who.Name}}</p>
	      </div>
	    </div>

	    <div class="content">
	      {{evidence.What}}
	      <br>
	      <time datetime="2016-1-1">{{evidence.Actions[0].When}}</time>
	    </div>
	  </div>
	</div>
	<br>
</div>