<!-- alt="Placeholder image" -->
<a class="button" (click)="NewAction()">
  Add A new Action
</a>
<div *ngFor="let action of list">
	<br>
	<div class="card" (click)="Open(action)">
	  <div class="card-content">
	    <div class="media">
	      <div class="media-left">
	        <figure class="image is-48x48">
	          <img src="{{action.img}}">

	        </figure>
	      </div>
	      <div class="media-content">
	        <p class="title is-4">{{action.What}}</p>
	        <p class="subtitle is-6">{{action.Who}}</p>
	      </div>
	    </div>

	    <div class="content">
	      {{action.What}}
	      <br>
	      <time datetime="2016-1-1">{{action.When}}</time>
	    </div>
	  </div>
	</div>
	<br>
</div>