<section class="hero is-info is-bold">
  <div class="hero-body">
      <h2 class="title is-1">
        Blockchain of Custody
      </h2>
      <!-- <h3 class="title">
        This is a template!
      </h3> -->

  </div>
</section>

<br>
<div class="container" style="padding-left: 20px;">

<div *ngIf="isUnknown">
	<a class="button" href="/newPrecinct">
	  Create a new Precinct
	</a>
</div>

<div *ngIf="isAdmin">
  <a class="button" href="/actor">
    Add Another Officer
  </a>
</div>

<app-evidence></app-evidence>

</div>